/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

/* Main Table Container */
.jtTableContainer {
  & table {
    border-collapse: collapse;
    border: none;

    & :is(tr, th, td) {
      border: none;
    }
  }
}

/* Scrollable Table Layout */
.jtrespo-scroll {
  overflow-x: auto !important;

  & table {
    table-layout: inherit;

    & tr :is(td, th) {
      border: none;
      white-space: nowrap;
    }
  }
}

/* Table Cell Alignment and Borders */
table tr :is(td, th) {
  &.htRight {
    text-align: right;
  }
  &.htCenter {
    text-align: center;
  }
  &.htLeft {
    text-align: left;
  }
  &.htJustify {
    text-align: justify;
  }

  &.border-bottom {
    border-bottom: solid 1px black;
  }
  &.border-top {
    border-top: solid 1px black;
  }
  &.border-right {
    border-right: solid 1px black;
  }
  &.border-left {
    border-left: solid 1px black;
  }
}

/* Stackable Table Layout */
.jtrespo-stack {
  & table {
    max-width: 100%;
    width: 100%;

    &.stackMeNowJT {
      & thead {
        display: none;
      }

      & :is(tr, th, td) {
        display: block;
      }

      & tr {
        margin-bottom: 24px;
        padding: 8px;
        background: #fbfafa;
        border: solid 1px #ccc;
        box-shadow: 0px 0px 4px #ccc;

        & td {
          border-top: none;
          margin-bottom: 4px;

          &:first-child {
            font-weight: bold;
          }
        }
      }

      & .stackedheadtitlejt {
        display: inline-block;
      }
    }
  }

  & .stackedheadtitlejt {
    display: none;
  }
}

/* DataTables Specific Styling */
:where(.dataTables_filter, .dataTables_length, .dataTables_paginate) {
  display: block;
}

.dataTables_filter {
  float: left !important;

  & label {
    display: flex;
    align-items: center;
    margin-bottom: 14px;
  }

  & input {
    height: 32px;
    margin-left: 8px;
  }
}

.dataTables_length {
  float: none !important;
  margin-bottom: 8px;
}

.dataTables_paginate {
  float: none !important;
  text-align: left !important;
  margin: 14px 0;
}
